.long-click-item {
    width: 200px;
    height: 150px;
    background-color: #fff777;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    border: 1px solid #000234;
    float:left;
    color: darkblue;
    margin: 20px;
  }
  
  body.spinner {
    cursor: wait;
  }