.drag {
    //     &-target {
    //         // background-image: url(logo.png);
    //         background-repeat: no-repeat;
    //         background-position: center;
    //         background-size: contain;
    //         height: 200px;
    //         width: 200px;
    //         background-color: rgba(0, 0, 0, 0.6);
    //         color: #fff;
    //         padding: 10px;
    //         position: absolute;
    //         cursor: move;
    //     }

    .box {
        position           : relative;
        width              : 150px;
        height             : 150px;
        background         : black;
        cursor             : pointer;
        user-drag          : none;
        user-select        : none;
        -moz-user-select   : none;
        -webkit-user-drag  : none;
        -webkit-user-select: none;
        -ms-user-select    : none;
    }

}